<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movies/style.css' %}">
    <div class="fullscreen" style="position: fixed; background-color:rgb(46, 46, 46);">
    <header>
        <div class="brand_div" onclick="location.href='/'">
            <h1 class='brand'>FlowM</h1>
        </div>
        <div class="input_div">
            <form action="{% url 'movies:search' %}" method="GET">
                {% csrf_token %}
                <input class="input_text" type="text" name="input_movie" value="" placeholder="Search">
                <input class="button_search" type="submit" value="Q" style="cursor:pointer">
            </form>
        </div>
    </header>
    <div class="account">
        {% if user.is_active %}
            <a class="userinfo" href="{% url 'movies:userinfo' %}">{{ user.username }}</a>
            <a class="userinfo" href="{% url 'movies:logout' %}">로그아웃</a>
        {% else %}
            <a class="userinfo" href="{% url 'movies:signin' %}">로그인</a>
            <a class="userinfo" href="{% url 'movies:signup' %}">회원가입</a>
        {% endif %}
    </div>

    <div class="container">

        <h2 class="container_h">비밀번호 변경</h2>
        <form method="POST" action="{% url 'movies:change_pw' %}" class="login_form">
            {% csrf_token %}
            <table class="account_info">
                <tr>
                    <td>Origin Password</td>
                    <td><input class="login_input" name="origin_password" type="password"></td>
                </tr>

                <tr> 
                    <td>New Password</td>
                    <td><input class="login_input" name="password1" type="password"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input class="login_input" name="password2" type="password"></td>
                </tr>
            </table>
            <input class="a_submit" style="width:180px" type="submit" class="login_btn" value="비밀번호 변경">
        </form>
            {% if error %}
            <p class="a_submit" style="text-align: right;border:none; width:200px; font-size:18px; cursor: none;">
                {{ error }}
            </p>
            {% endif %}
    </div>
    </div>
</body>
</html>