<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movies/accountStyle.css' %}">
</head>
<body>
    <h2>로그인</h2>
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag}}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag}}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table> 
        <input type="submit" value="로그인"/>
        <a href="{% url 'movies:signup' %}">회원가입</a>
    </form>
    {% if error %}
        {{ error }}
    {% endif %}
</body>
</html>