<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movies/style.css' %}">
    <div class="fullscreen" style="position: fixed;">
        <header>
            <div class="brand_div" onclick="location.href='/'">
                <h1 class='brand'>FlowM</h1>
            </div>
            <div class="input_div">
                <form action="{% url 'movies:search' %}" method="GET">
                    {% csrf_token %}
                    <input class="input_text" type="text" name="input_movie" value="" placeholder="Search">
                    <input class="button_search" type="submit" value="Q" style="cursor:pointer">
                </form>
            </div>
        </header>
        <div class="account">
            {% if user.is_active %}
                <a class="userinfo" href="{% url 'movies:userinfo' %}">{{ user.username }}</a>
                <a class="userinfo" href="{% url 'movies:logout' %}">로그아웃</a>
            {% else %}
                <a class="userinfo" href="{% url 'movies:signin' %}">로그인</a>
                <a class="userinfo" href="{% url 'movies:signup' %}">회원가입</a>
            {% endif %}
        </div>


    <div id="right_menu">
    <p>{{ user.username }}</p>
    <p>{{ user.email }}</p>
    <div style="width:130px; height:50px;text-align: center;">
        <a style="position: relative;width:100px; height:20px;color:white; left:50%;font-weight:bold;  text-decoration: none;" href="{% url 'movies:change_pw' %}">비밀번호 변경</a></div>
    </div>
    like movies : 
    {% for like in likes %}
        {{like}}<br>
        {{like.poster_path}}<br>
    {% endfor %}
    <br>
    recommand movies :
    {% for reco in recos %}
        {{reco}}
    {% endfor %}




    </div>
</body>
</html>