html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.fullscreen{
    width: 100%;
    height: 100%;
    border: none;
}

header{
    color: white;
    height: 56px;
    width: 100%;
    
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand_div{
    height: inherit;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer;
    background-color: black;
    border-radius: 1em 0 0 1em;
}

.brand{
    height: inherit;
    margin: 0;
    vertical-align: middle;
    color: #C6D6F7;
}

.account{
    position: fixed;
    display: inline-block;
    right: 0;

    height: 56px;
    width: 250px;

    font-size: large;
    font-weight: bold;
    background-color: black;
    border-radius: 0 0 0 1em;

    text-align: center;
}

.userinfo{
    position: relative;
    text-decoration:none;

    color:white;
    top:14px;
    margin-left:15px;
    margin-right:15px;
}

.input_div{
    height: inherit;
    width: 470px;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    border-radius: 0 1em 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* input[type="text"] */
/* input[type="password"] */
/* input[type="submit"] */
.input_text{
    width: 400px;
    height: 50px;
    background-color : black; 
    color:white;
    font-size: x-large;
    font-weight: bold;
    border: none;
}

.button_search{
    width: 40px;
    height: 40px;
    background-color:black;
    color:white;
    font-size: large;
    font-weight: bolder;
    border-radius: 1em;
}
input:focus {
    outline:none;
}



#footer{
    position: fixed; 
    bottom: 0; 
    min-width: 100%;
    height: 25%;
    padding-bottom: 20px;
    padding-top: 2%;
    
    /* 가로배치 */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#footer::-webkit-scrollbar{
    display: none;
}

#genre{
    width: 50px;
    height: 150px;
    margin: 10px;
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 40px;

    /* 가로배치 */
    flex: 0 0 auto;
}

.thumnails{
    position: relative;

    width: 8%;
    height: 80%;
    margin: 10px;

    flex: 0 0 auto;
}

.thumnail{  
    position: absolute;

    z-index: 0;
    opacity: 0.4;
    cursor: pointer;
}

a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.thumnail_img{
    position: absolute;
    width: 100%;
    height: 100%; 
}

.uptext{
    position: absolute;

    width: 100%;
    height: 80%;
    padding-top: 20%;
    display: grid;
    /* display: none; */
}

li{
    position: relative;
    font-size: large;
    font-weight: bold;
    list-style: none;
    text-align: center;
    color: white;
}

/* detail page */
#backdrop_position{
    position: relative;
}

#backdrop{
    position: absolute;
    filter: brightness(20%);
}

.contents{
    position: absolute;

    left: 20%;
    right: 20%;
    width: 60%;
    top: 5%;
    height: 90%;

    padding: 10px;
    margin-top: 30px;
    display: flex;
}

#vote_gage{
    position: relative;
    border-radius: 1em;
    border: 2px solid white;
    width: 200px;
    height: 25px;

    text-align: center;
}

#vote_gage_bar{
    position: absolute;
    height: 25px;
    border-radius: 1em 0 1.5em 1em;

    background-color: rgb(47, 255, 28);
}

.container{
    background-color: black;
    border: solid 1px black;
    width: 30%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1em 1em 1em 1em;
}
.container_h{
    text-align: center;
    margin-top:15%;
    color:white;
    font-size: x-large;
    font-weight: bold;
}

.account_info{
    /* background-color:    lavender; */
    margin: auto;
    text-align: right;
    color:white;
    font-size: x-large;
    font-weight: bold;
}

.a_submit{
    float:right;
    margin-top: 20px;
    margin-right:90px;
    text-align: auto;
    width: 120px;
    height: 40px;
    background-color: black;
    color:white;
    font-size:25px;
    font-weight: bolder;
    border:none;
    cursor: pointer;
    border: solid 2px white;
    border-radius: 5px 5px 5px 5px;
}

#id_username, #id_email, #id_password{
    width: 200px;
    height: 40px;
    background-color : black; 
    color:white;
    font-size: large;
    font-weight: bold;
    text-align: center;
    border: none;
    box-shadow: inset 0 -2px white;
}

#right_menu{
    position: absolute; 
    z-index: -1;
    right: 0; 
    background-color: black;
    width: 250px;
    height: 100%;

    padding-top: 4%;

    color:white;
    text-align: center;
    font-weight: bold;
}

#like{
    position: relative;
    background-color: black;
    width: 25px;
    height: 25px;
    text-align: center;
    border: solid 2px white;
    border-radius: 1em 1em 1em 1em;

    top:-4px;
    padding:2px;
    margin-left:220px;
    cursor: pointer;
}

.like_a{
    position:absolute;
    z-index:1;
    left:0;
    top:0;
    text-decoration: none; 
    font-size:20px;
}
#like_gray{
    color:gray;
}
#like_red{
    color:red;
}
/* 
width: 400px;
height: 50px;
background-color : black; 
color:white;
font-size: x-large;
font-weight: bold;
border: none; 
*/